p{
  color:red;
  text-align:center;
}
.red{
  height: 200px;
  width: 100px;
  background-color:red
}

#boton-pago{
  padding: 250px;
  background-color:grey;
}
td{
  border:solid 1px;
}

/*Asi van los comentarios en CSS */
